<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.wego.mapper.RecruitmentMapper">

	<select id="select"
		resultType="org.zerock.wego.domain.RecruitmentVO">
		SELECT *
		FROM san_party_tb
		WHERE san_party_id = #{sanPartyId}
	</select>

	<delete id="delete">
		DELETE FROM san_party_tb WHERE san_party_id =
		#{sanPartyId}
	</delete>

	<insert id="insert">
		INSERT INTO san_party_tb(san_info_id, user_id, title, contents, img,
		party_date, party_max, items, condition)
		VALUES(#{sanInfoId}, #{userId}, #{title}, #{contents}, #{img},
		#{partyDate}, #{partyMax}, #{items}, #{condition})
	</insert>

	<update id="update">
		UPDATE san_party_tb
		SET
		san_info_id = #{sanInfoId},
		title = #{title},
		contents = #{contents},
		img = #{img},
		party_date = #{partyDate},
		party_max = #{partyMax},
		items = #{items},
		condition = #{condition},
		modified_dt = current_timestamp
		WHERE
		san_party_id = #{sanPartyId}
	</update>

	<select id="sanNameSelect"
		resultType="Integer">
		SELECT san_info_id
		FROM san_info_tb
		WHERE san_name = #{sanName}
	</select>
</mapper>